#                      HEROES OF PYMOLI SNAPSHOT

## Key Trends

Gender & Age:

The male players outnumbered female players by a large margin (83% and 14% respectfully) and there was a small percentage who didn't disclose their gender(15%).

The age range didn't exactly match the usual assumption of who usually plays video games which are teenagers. The typical age of Pymoli players were actually in their early 20s with 365 players. In addition, there are actually a small percentage of people who are over 40 years-old. This could be people who lie about their age but it would be interesting to find out if this is an age demographic to go after.

Purchasing Power:

576 players generated 2,379.77USD in revenue over unique items purchases. There were 179 items for sale that had an average price of 3.05USD.

Since male players outweighed female players, the purchasing power correlates with the the amount of players per gender.

The total purchase value among all age groups fall on early 20 year-olds. The average purchase price from people in the early 20s is slightly higher than teenagers at 3.05USD as opposed to 3.03USD.

The top spender happened to be Zontibe81 who purchased 3 items that totaled at 8.03USD.

The most popular item sold was the Oathbreaker. There was also a 3-way tie of Fiery Glass Crusader, Extraction, and Nirvana. And all but Extraction were also the most profitable.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
# Total number of Players and display series
player_ct = len(purchase_df["SN"].value_counts())
player_ct = pd.Series(player_ct).reset_index()
player_ct.columns = ['', 'Total Players']
player_ct

      Total Players
0  0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Find the total of Unique Items bought.
uniq_items_tots = len(purchase_df["Item Name"].unique())

# Find the average price of purchases, total revenue of purchases, total number of purchases
avg_price = purchase_df["Price"].mean()
revenue_total = purchase_df["Price"].sum()
total_purchases = purchase_df["Item ID"].count()

# Make summary df of purchase analysis findings
total_puranalysis_df = pd.DataFrame({"Number of Unique Items": [uniq_items_tots], 
                              "Average Price": avg_price, 
                              "Number of Purchases": total_purchases,
                              "Total Revenue": revenue_total})
# format df
total_puranalysis_df.style.format({"Average Price":"${:0,.2f}","Total Revenue":"${:0,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Find total count of players by gender & percentage
gender_count = purchase_df.groupby('Gender')["SN"].count()
gender_percentage = gender_count*100/gender_count.sum()

# Add column for percentage of each group into a dataframe
gender_df = pd.DataFrame(gender_percentage)
rename_gp = gender_df.rename(columns={"SN":"Gender Percentage"})

# Add total gender count to the dataframe
rename_gp["Total Players by Gender"] = gender_count

# Reorganize and format columns
reorg_df = rename_gp[["Total Players by Gender","Gender Percentage"]]
reorg_df.style.format({"Gender Percentage":"{:0,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Groupby gender
gender_group = purchase_df.groupby(['Gender'])

# Calculate purchase count, average purchase price, purchase total per person
gpurch_count = gender_group["Item ID"].count()
gavg_price = gender_group["Price"].mean()
total_purch = gender_group['Price'].sum()

# Make dataframe summary of purchases by gender
gender_puranalysis_df = pd.DataFrame({"Purchase Count by Gender": gpurch_count, 
                              "Average Purchase Price": gavg_price, 
                              "Average Purchase Total per Person": total_purch})
gender_puranalysis_df.style.format({"Average Purchase Price":"${:0,.2f}", 
                                    "Average Purchase Total per Person":"${:0,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Make a bin and label for age
age_bins = [0, 10, 14, 19, 24, 29, 34, 39, 45]
age_rng_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Slice data to place it into bins
purchase_df['Age Range'] = pd.cut(purchase_df["Age"], age_bins, labels=age_rng_labels)
purchase_df

# Group by age range
age_group = purchase_df.groupby("Age Range")

# Count players set it in a dataframe
age_count = age_group["SN"].count()
age_df = pd.DataFrame(age_count)

# Rename column to total count by age & get the summ of the column
age_rename = age_df.rename(columns={"SN":"Total Count by Age"})
total_age = age_rename["Total Count by Age"].sum()

# Calculate percentage and format it
age_rename['Age Percentage']= age_rename['Total Count by Age']*100/total_age
age_rename.style.format({"Age Percentage":"{:0,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Make a bin and label for age
age_bins = [0, 10, 14, 19, 24, 29, 34, 39, 45]
age_rng_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Slice data to place it into bins
purchase_df['Age Range'] = pd.cut(purchase_df["Age"], age_bins, labels=age_rng_labels)
purchase_df

# Group by age range
age_group = purchase_df.groupby("Age Range")

# Calculate purchase count, average purchase price, purchage total by age
age_count = age_group["Item ID"].count()
age_price = age_group["Price"].mean()
age_total = age_group['Price'].sum()

# Make dataframe summary of purchases by gender & reset index
age_puranalysis_df = pd.DataFrame({"Purchase Count": age_count, 
                              "Average Purchase Price": age_price, 
                              "Total Purchage Value": age_total})
age_puranalysis_df.style.format({"Average Purchase Price":"${:0,.2f}", "Total Purchage Value":"${:0,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Group by players' screenName
top_spenders = purchase_df.groupby(["SN"])

# Calculate purchase count, average purchase price per spender,purchage total
spenders_count = top_spenders["Item ID"].count()
spenders_price = top_spenders["Price"].mean()
spenders_total = top_spenders['Price'].sum()

# Make dataframe summary of purchases by gender & reset index
top_spenders_df = pd.DataFrame({"Purchase Count": spenders_count, 
                              "Average Purchase Price": spenders_price, 
                              "Total Purchage Value": spenders_total})
top_spenders_df.reset_index()
top_spenders_df.sort_values(by="SN", ascending=False).head().style.format({"Average Purchase Price":"${:0,.2f}", 
                                                                           "Total Purchage Value":"${:0,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Retrieve the Item ID, Item Name, and Item Price columns
popular = purchase_df[["Item ID", "Item Name", "Price"]]
popular_group = popular.groupby(["Item ID", "Item Name"])

popular_count = popular_group["Price"].count()
popular_price = popular_group["Price"].mean()
popular_total = popular_group["Price"].sum()

# Make dataframe summary of purchases by gender & reset index
popular_df = pd.DataFrame({"Purchase Count": popular_count, 
                              "Average Purchase Price": popular_price, 
                              "Total Purchage Value": popular_total})
popular_df.reset_index()
popular_df.sort_values(by="Purchase Count", ascending=False).head().style.format({"Average Purchase Price":"${:0,.2f}", 
                                                                                  "Total Purchage Value":"${:0,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
popular_df.sort_values(by="Total Purchage Value", ascending=False).head().style.format({
    "Average Purchase Price":"${:0,.2f}", "Total Purchage Value":"${:0,.2f}"})