#                      PYCITY SCHOOLS SNAPSHOT

## Key Observations

District Summary: 

With the overall look at this district, the average reading and math scores (81 and 78) are pretty close but percentage wise it's 10% apart(85% and 74%).

School Summary: 

The budget per student hovers around 580 and 655. It also appears that the school budget and student population are proportional. More students means more money. Another observation to note is that schools like Wilson High School has a lower budget per student (578) while schools like Griffin High School has a higher budget per student (625).

Top & Bottom Performing Schools: 

The top performing schools have a lower student populaiton and a corresponding lower budget. Most of the students have about the same average reading and math score and most of the students pass overall with about 95%. The bottom performing schools have a higher student population, higher budget, and math scores are on a barely passing end with only 60% of the student population are passing overall. So with this in mind, it aligns with the popular notion that smaller classes could be a great benifit to students.

Math & Reading Scores by Grade: 

Overall, math scores have a larger range amongst all schools. However, the scores are dignificantly more narrowed within each school. The score margin is much smaller across all schools which indicates that students have a uniform reading comprehension. In closing, there seems to be a strong link between test scores and school grades.

Scores based on Spending per Student, School Size, and School Type: 

For spending and population we see here that there's a link between lower spending, lower school size, and higher test scores. The scores are also consistant with what has been seen so far in that reading scores are higher than math scores. In addition, students in charter schools have higher scores on average compared district schools.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

### Total number of Schools, Students and Budget

In [2]:
# Get total schools
total_schools = len(school_data_complete["school_name"].unique())

# Get total students
total_students = school_data_complete["Student ID"].count()

# Get total budget
total_budget = school_data["budget"].sum()

### Calculating Scores

In [3]:
# Calculate the average math score
total_math_score = school_data_complete["math_score"].sum()
avg_math_score = total_math_score/total_students

# Calculate the average reading score
total_read_score = school_data_complete["reading_score"].sum()
avg_read_score = total_read_score/total_students

# Calculate the overall passing rate (overall average score), 
#i.e. (avg. math score + avg. reading score)/2
overal_passing_rate = (avg_math_score + avg_read_score)/2

### Calculating Passing (Score 70+) Percentages

In [4]:
# Find out how many students pass & failed
math_scores = (school_data_complete["math_score"] >= 70).value_counts()

# Make df of scores, reset index of true and false, rename columns
math_scores_df = pd.DataFrame(math_scores).reset_index()
math_scores_rename = math_scores_df.rename(columns={"math_score":"student_count",
                                                   "index":"Passing Status: Math"})


# Filter for students who passed math and get the percentage
passed_math = math_scores_rename.iloc[0,:].sum()
percent_passed_math = passed_math*100/total_students

In [5]:
# Find out how many students pass & failed
reading_scores = (school_data_complete["reading_score"] >= 70).value_counts()
reading_scores

# Make df of scores, reset index of true and false, rename columns
read_scores_df = pd.DataFrame(reading_scores).reset_index()
read_scores_rename = read_scores_df.rename(columns={"reading_score":"student_count",
                                                   "index":"Passing Status: Reading"})

# Filter for students who passed reading and get the percentage
passed_read = read_scores_rename.iloc[0,:].sum()
percent_passed_read = passed_read*100/total_students

### Disctrict Summary DataFrame

In [6]:
# Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({"Total Schools": [total_schools],"Total Students": total_students,
                                    "Total Budget": [total_budget], "Average Math Score": avg_math_score,
                                   "Average Reading Score":avg_read_score, "Passing Math": percent_passed_math,
                                   "Passing Reading":percent_passed_read, 
                                   "Overall Passing Rate":overal_passing_rate})
district_summary_df.style.format({"Total Students":"{:0,.0f}","Total Budget":"${:20,.2f}",
                                  "Average Reading Score": "{:0,.2f}", "Average Math Score": "{:0,.2f}", 
                                  "Passing Reading": "{:0,.2f}%", "Passing Math":"{:0,.2f}%",
                                  "Overall Passing Rate":"{:0,.2f}%"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### School name and type

In [7]:
# Group by school name and find average
school_group = school_data_complete.groupby("school_name")
score_avg = school_group.mean()

# make size and budget as integers
size_bud_format = score_avg[["size", "budget"]].astype("int64")

# Merge df
merging_df = pd.merge(size_bud_format,score_avg, how="inner", on="school_name")
school_avg = merging_df[["size_x", "budget_x", "reading_score", "math_score"]]
schl_avg_rename = school_avg.rename(columns={"size_x": "Student Population", "budget_x":"Budget",
                                             "reading_score": "Average Reading Score",
                                            "math_score":"Average Math Score"})

# Merge type df to previously merged df and rename type
schl_type = school_data[["school_name","type"]]
merging_df2 = pd.merge(schl_type, schl_avg_rename, how="inner", on="school_name")
rename_schl = merging_df2.rename(columns={"type": "School Type"})

### School Budget

In [8]:
rename_schl["Budget per Student"]=""
rename_schl

# Calculate budget per student for each school
budget_student = rename_schl["Budget"]/rename_schl["Student Population"]

# Save budget per student in df and made a copy of df
rename_schl["Budget per Student"]=budget_student
df_copy = rename_schl.copy()

### Passing Score (70+) Percentage

In [9]:
# Calculate the percentage of students with a passing reading score (70 or greater)

# Select passing reading scores and group scores by school by count of students
read_pass = school_data_complete.loc[school_data_complete["reading_score"]>=70]
read_students = read_pass.groupby("school_name").count()

# Calculate the student count as a percentage and make a dataframe
school_pass_read = read_students["reading_score"]*100/score_avg["size"]
schl_pass_read_df = pd.DataFrame(school_pass_read)

# Rename dataframe to reflect percentage of students who passed
schl_pass_read_rename = schl_pass_read_df.rename(columns={0:"Passing Reading"})

In [10]:
# Calculate the percentage of students with a passing math score (70 or greater)

# Select passing math scores and group scores by school by count of students
math_pass = school_data_complete.loc[school_data_complete["math_score"]>=70]
students_math = math_pass.groupby("school_name").count()

# Calculate the student count as a percentage and make a dataframe
school_pass_math = students_math["math_score"]*100/score_avg["size"]
schl_pass_math_df = pd.DataFrame(school_pass_math)

# Rename dataframe to reflect percentage of students who passed
schl_pass_math_rename = schl_pass_math_df.rename(columns={0:"Passing Math"})

In [11]:
# Calculate the percentage of students with overall passing score
rate_df = (school_pass_math+school_pass_read)/2
rate_df = pd.DataFrame(rate_df)
overall_rate = rate_df.rename(columns={0:"Overall Passing Rate"})

### School Summary DataFrame

In [12]:
# Merge previous dataframes to create a summary and rename school name rename_schl
summary_df = pd.merge(df_copy, schl_pass_read_rename, how="left", on=["school_name"])
summary_df2 = pd.merge(summary_df, schl_pass_math_rename, how="left", on=["school_name"])
summary_df3 = pd.merge(summary_df2, overall_rate, how="left", on=["school_name"])
school_rename = summary_df3.rename(columns={"school_name": "School Name"})

# Reorganize df
school_summary_df = school_rename[["School Name","School Type","Student Population","Budget","Budget per Student",
                              "Average Reading Score","Average Math Score","Passing Reading","Passing Math",
                               "Overall Passing Rate"]]
school_summary_df.style.format({"Student Population":"{:0,.0f}","Budget":"${:0,.2f}",
                                "Budget per Student":"${:0,.0f}","Average Reading Score": "{:0,.2f}", 
                                "Average Math Score": "{:0,.2f}", "Passing Reading": "{:0,.2f}%", 
                                "Passing Math":"{:0,.2f}%","Overall Passing Rate":"{:0,.2f}%"})

## Top & Bottom Five Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

### Top 5 Schools

In [13]:
top_schools = school_summary_df.sort_values("Overall Passing Rate", ascending=False)
top_schools.head().style.format({"Student Population":"{:0,.0f}","Budget":"${:0,.2f}",
                          "Budget per Student":"${:0,.0f}","Average Reading Score": "{:0,.2f}", 
                          "Average Math Score": "{:0,.2f}", "Passing Reading": "{:0,.2f}%", 
                          "Passing Math":"{:0,.2f}%","Overall Passing Rate":"{:0,.2f}%"})

### Bottom 5 Schools

In [15]:
bottom_schl = school_summary_df.sort_values("Overall Passing Rate")
bottom_schl.head().style.format({"Student Population":"{:0,.0f}","Budget":"${:0,.2f}",
                          "Budget per Student":"${:0,.0f}","Average Reading Score": "{:0,.2f}", 
                          "Average Math Score": "{:0,.2f}", "Passing Reading": "{:0,.2f}%", 
                          "Passing Math":"{:0,.2f}%","Overall Passing Rate":"{:0,.2f}%"})

## Math & Reading Scores by Grade

* Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

### Grouping Grades

In [16]:
# student_id = school_data_complete.set_index("Student ID")
# student_id

# Filter scores by 9th grade
nine = school_data_complete.loc[school_data_complete["grade"]=="9th"]
nine_math_avg = nine.groupby("school_name").mean()
nine_math_avg_rename = nine_math_avg.rename(columns={"reading_score":"Grade 9 Reading Score",
                                                    "math_score":"Grade 9 Math Score"})

# Filter scores by 10th grade
ten = school_data_complete.loc[school_data_complete["grade"]=="10th"]
ten_math_avg = ten.groupby("school_name").mean()
ten_math_avg_rename = ten_math_avg.rename(columns={"reading_score":"Grade 10 Reading Score",
                            "math_score":"Grade 10 Math Score"})

# Filter scores by 11th grade
eleven = school_data_complete.loc[school_data_complete["grade"]=="11th"]
eleven_math_avg = eleven.groupby("school_name").mean()
eleven_math_avg_rename = eleven_math_avg.rename(columns={"reading_score":"Grade 11 Reading Score",
                                "math_score":"Grade 11 Math Score"})

# Filter scores by 12th grade
twelve = school_data_complete.loc[school_data_complete["grade"]=="12th"]
twelve_math_avg = twelve.groupby("school_name").mean()
twelve_math_avg_rename = twelve_math_avg.rename(columns={"reading_score":"Grade 12 Reading Score",
                                "math_score":"Grade 12 Math Score"})

### Merge Grades

In [17]:
# Merging 9th & 10th grade
nine_ten_avg = pd.merge(nine_math_avg_rename, ten_math_avg_rename, how="left", on=["school_name"])

# Merging 11th & 12th grade
eleven_twelve_avg = pd.merge(eleven_math_avg_rename, twelve_math_avg_rename, how="left", on=["school_name"])

# Merging all grades
school_score_avg = pd.merge(nine_ten_avg, eleven_twelve_avg, how="left", on=["school_name"])

# Reset index and rename school name column
df_reset_index = school_score_avg.reset_index()
renaming_school = df_reset_index.rename(columns={"school_name":"School Name"})

### Average Math Score by Grade Summary

In [18]:
# Filter and format grades to get math scores per school
math_avg = renaming_school[["School Name","Grade 9 Math Score","Grade 10 Math Score",
                             "Grade 11 Math Score","Grade 12 Math Score"]]
math_avg.style.format({"Grade 9 Math Score": "{:0,.2f}", "Grade 10 Math Score": "{:0,.2f}", 
                          "Grade 11 Math Score":"{:0,.2f}","Grade 12 Math Score":"{:0,.2f}"})

### Average Reading Score by Grade Summary

In [19]:
# Filter and format grades to get reading scores per school
reading_avg = renaming_school[["School Name","Grade 9 Reading Score","Grade 10 Reading Score",
                             "Grade 11 Reading Score","Grade 12 Reading Score"]]
reading_avg.style.format({"Grade 9 Reading Score": "{:0,.2f}", "Grade 10 Reading Score": "{:0,.2f}", 
                          "Grade 11 Reading Score":"{:0,.2f}","Grade 12 Reading Score":"{:0,.2f}"})

## Scores by School Spending, Size, and Type

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

### Score & School Spending Summary

In [20]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [21]:
# Create a new data frame by locating the desired columns
scores_spending = school_summary_df[["Average Reading Score","Average Math Score",
                                     "Passing Reading","Passing Math","Overall Passing Rate"]]

# Add a new columns named Spending Ranges (Per Student) and binning based off budget per student
scores_spending["Spending Ranges (Per Student)"]= pd.cut(school_summary_df["Budget per Student"],
                                                         spending_bins,labels=group_names)
# Create a group based off of the bins
scores_spending = scores_spending.groupby("Spending Ranges (Per Student)").mean()
scores_spending.head().style.format({"Average Reading Score": "{:0,.2f}", "Average Math Score": "{:0,.2f}", 
                          "Passing Reading": "{:0,.2f}", "Passing Math":"{:0,.2f}","Overall Passing Rate":"{:0,.2f}"})

C:\Users\tamal\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

### Score & School Size Summary

In [22]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [23]:
# Create a new data frame by locating the desired columns
size_score = school_summary_df[["Average Reading Score","Average Math Score",
                                "Passing Reading","Passing Math","Overall Passing Rate"]]

# Add a new columns named Spending Ranges (Per Student) and binning based off budget per student
size_score["School Size"]= pd.cut(school_summary_df["Student Population"], size_bins,labels=group_size)

# Create a group based off of the bins
size_score = size_score.groupby("School Size").mean()
size_score.head().style.format({"Average Reading Score": "{:0,.2f}", "Average Math Score": "{:0,.2f}", 
                          "Passing Reading": "{:0,.2f}", "Passing Math":"{:0,.2f}","Overall Passing Rate":"{:0,.2f}"})

C:\Users\tamal\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

### Score & School Type Summary

In [24]:
score_type = school_summary_df.copy()
score_type = score_type.groupby("School Type").mean()
score_type = score_type[["Average Reading Score", "Average Math Score", "Passing Reading","Passing Math", 
                         "Overall Passing Rate"]]
score_type.style.format({"Average Reading Score": "{:0,.2f}", "Average Math Score": "{:0,.2f}", 
                          "Passing Reading": "{:0,.2f}", "Passing Math":"{:0,.2f}",
                         "Overall Passing Rate":"{:0,.2f}"})